@import "fonts";
@import "slick";
@import "_leaders";
@import "_animations";

@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin background-hover {
  @apply transition;
  border-radius: 18px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

body {
  overflow-x: hidden;
  min-width: 320px;
}

main {
  padding-bottom: 260px;

  @media (max-width: 1320px) {
    padding-bottom: 100px;
  }
}

.club-card__img {
  height: 335px;
}

.footer-sides__div {
  display: flex;
  justify-content: space-between;
}

.club-card__footer-div {
  height: 175px;
  @media (max-width: 1780px) {
    height: 195px;
  }
  @media (max-width: 1320px) {
    height: 175px;
  }
  @media (max-width: 767px) {
    height: 195px;
  }
}

.popup-content {
  max-height: 100%;
  overflow-y: scroll;

  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.event-photo__div {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.girls-slider__section {
  padding-right: 11%;
}
.contain-section {
  &__img-man {
    object-fit: fill;
    width: 100%;
    max-width: 600px;
    height: 380px;

    @media (max-width: 580px) {
      height: 300px;
    }

    @media (max-width: 325px) {
      height: 250px;
    }
  }

  &__img-woman {
    object-fit: fill;
    width: 100%;
    max-width: 300px;

    @media (max-width: 580px) {
      max-width: 250px;
    }

    @media (max-width: 325px) {
      max-width: 200px;
    }
  }
}

.error__btn-wrap {
  @media (max-width: 445px) {
    a:first-child {
      margin-bottom: 1rem;
    }
  }

}

.index-bg-bottom {
  position: absolute;
  bottom: 0;
  background:url(/static/img/bg-bottom.webp);
  background-size: 100% 100%;
  height: 619px;
  width: 100%;

  @media (max-width: 1320px) {
    height: 322px;
  }
}

.google-map {
  & div>div {
    border-radius: 0.5rem;
  }

  a[href^="http://maps.google.com/maps"] {
    display: none !important;
  }

  a[href^="https://maps.google.com/maps"] {
    display: none !important;
  }

  .gmnoprint a,
  .gmnoprint span,
  .gm-style-cc {
    display: none;
  }

  .gmnoprint div {
    background: none !important;
  }
}

.container, .container-simple {
  padding: 0 20px;
}

// Center react-images photo
.react-images__view-image {
  margin: 0 auto;
}

.form-control {
  @apply block bg-white rounded-full border min-w-full border-light-grey text-lg leading-none transition px-5 h-13 pt-3;
  padding-bottom: 0.9rem;

  &:focus {
    @apply outline-none border-dark-green;
  }
}

.slick-dots {
  display: flex!important;
  justify-content: center;

  li {
    margin-left: 20px;

    &.slick-active {
      button {
        @apply bg-pink;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    button {
      outline: none;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fff;
      font-size: 0;
      line-height: 0;
    }
  }
}

@media (max-width: 479px) {
  .company-item__div-name {
    font-size: 2.2rem;
    margin-bottom: 10px;
    margin-right: 8px;
  }

  .company-item__div-ellipse {
    font-size: 1.8rem;
    width: 10px;
  }
}

.services-select__div {
  .dropdown__content.open {
    width: 500px;
    > div {
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
  }
}

.girl_card-club {
  display: block;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-bottom: 1.25rem;
  border-radius: 10px;
}
  .logo-small {
    &__div {
      position: relative;
      width: 70px;
      height: 70px;
    }
  }

  .logo-midd {
    &__div {
      position: relative;
      width: 150px;
      height: 150px;
    }
  }

  .c-account {
    &__avatar {
      border-radius: 50%;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &-wrap:hover, &--empty {
        .c-account__avatar-plus {
          display: block;
        }
      }

      &-wrap {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #dfdfdf;
      }

      &-input {
        display: none;
      }

      &-plus {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        cursor: pointer;
      }
    }
  }

  .verify-message-div {
    background-color: #b2ebf2;
    height: content-box;
  }

  .header-profile-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .c-events-time {
    opacity: 0;
  }

  .c-events-card:hover .c-events-time {
    opacity: 1;
    transition: opacity .2s;
  }

  @import "components/Ui/AnimationBackground/AnimationBackground";
  @import "components/Ui/Button/Button";
  @import "components/Ui/Header/Header";
  @import "components/Ui/Footer/Footer";
  @import "components/Ui/Pagination/Pagination";
  @import "components/Ui/HorizontalScroll/HorizontalScroll";
  @import "components/Ui/Modal/Modal";
  @import "components/Ui/Nav/Nav";
  @import "components/Ui/Dropdown/Dropdown";
  @import "components/Ui/Lang/Lang";
  @import "components/Ui/Loader/Loader";

  @import "components/Ui/Forms/Checkbox/Checkbox";
  @import "components/Ui/Forms/FormGroup/FormGroup";
  @import "components/Ui/Forms/GroupRadio/GroupRadio";
  @import "components/Ui/Forms/RangeSlider/RangeSlider";
  @import "components/Ui/Forms/DateField/DateField";
  @import "components/Ui/Forms/ButtonGroupField/ButtonGroup";
  @import "components/Ui/Forms/SelectGroupField/SelectGroup";
  @import "components/Ui/Forms/Label/Label";
  @import "components/Ui/Forms/RadioField/RadioField";
  @import "components/Ui/Forms/LocationSearchInput/LocationSearchInput";
  @import "components/Ui/Forms/EventEmployeesField/EventEmployeesField";
  @import "components/Ui/Calendar/Calendar";
  @import "components/Ui/PlanCard/PlanCard";
  @import "components/Ui/GirlCard/GirlCard";
  @import "components/Ui/EventsGallery/EventsGallery";
  @import "components/Ui/ChatList/ChatList";
  @import "components/Ui/Chat/Chat";
  @import "components/Ui/Filter/Filter";

@import "components/about/style";
@import "help_center";
