@import "fonts";
@import "slick";
@import "_leaders";
@import "_animations";

@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin background-hover {
  @apply transition;
  border-radius: 18px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

body {
  overflow-x: hidden;
  min-width: 320px;
}

main {
  padding-bottom: 260px;

  @media (max-width: 1320px) {
    padding-bottom: 100px;
  }
}

.index-bg-bottom {
  position: absolute;
  bottom: 0;
  background:url(/static/img/bg-bottom.png);
  background-size: 100% 100%;
  height: 619px;
  width: 100%;

  @media (max-width: 1320px) {
    height: 322px;
  }
}

.google-map {
  & div>div {
    border-radius: 0.5rem;
  }

  a[href^="http://maps.google.com/maps"] {
    display: none !important;
  }

  a[href^="https://maps.google.com/maps"] {
    display: none !important;
  }

  .gmnoprint a,
  .gmnoprint span,
  .gm-style-cc {
    display: none;
  }

  .gmnoprint div {
    background: none !important;
  }
}

.container, .container-simple {
  padding: 0 20px;
}

// Center react-images photo
.react-images__view-image {
  margin: 0 auto;
}

.form-control {
  @apply block bg-white rounded-full border min-w-full border-light-grey text-lg leading-none transition px-5 h-13 pt-3;
  padding-bottom: 0.9rem;

  &:focus {
    @apply outline-none border-dark-green;
  }
}

.slick-dots {
  display: flex!important;
  justify-content: center;

  li {
    margin-left: 20px;

    &.slick-active {
      button {
        @apply bg-pink;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    button {
      outline: none;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fff;
      font-size: 0;
      line-height: 0;
    }
  }
}

@import "components/Ui/AnimationBackground/AnimationBackground";
@import "components/Ui/Button/Button";
@import "components/Ui/Header/Header";
@import "components/Ui/Footer/Footer";
@import "components/Ui/Pagination/Pagination";
@import "components/Ui/HorizontalScroll/HorizontalScroll";
@import "components/Ui/Modal/Modal";
@import "components/Ui/Nav/Nav";
@import "components/Ui/Dropdown/Dropdown";
@import "components/Ui/Lang/Lang";
@import "components/Ui/Loader/Loader";

@import "components/Ui/Forms/Checkbox/Checkbox";
@import "components/Ui/Forms/FormGroup/FormGroup";
@import "components/Ui/Forms/GroupRadio/GroupRadio";
@import "components/Ui/Forms/RangeSlider/RangeSlider";
@import "components/Ui/Forms/DateField/DateField";
@import "components/Ui/Forms/ButtonGroupField/ButtonGroup";
@import "components/Ui/Forms/SelectGroupField/SelectGroup";
@import "components/Ui/Forms/Label/Label";
@import "components/Ui/Forms/RadioField/RadioField";
@import "components/Ui/Forms/LocationSearchInput/LocationSearchInput";
@import "components/Ui/Forms/EventEmployeesField/EventEmployeesField";

@import "components/Ui/PlanCard/PlanCard";
@import "components/Ui/GirlCard/GirlCard";
@import "components/Ui/EventsGallery/EventsGallery";
@import "components/Ui/ChatList/ChatList";
@import "components/Ui/Chat/Chat";
@import "components/Ui/Filter/Filter";

@import "components/about/style";
