.footer-icons {
  @apply flex flex-col items-center;

  svg {
    @apply mb-4;
  }

  @screen md {
    @apply flex-row;

    svg {
      @apply mb-0 ml-3;
    }
  }
}


// .footer .container {
//     max-width: initial !important;
// }

@media (max-width: 768px){
    .footer .text-xs {
        font-size: 0.7rem;
    }
    .footer .links-footer__div {
        width: 100%;
    }
    .footer .links-footer__div-full {
        justify-content: space-between;
    }
    .footer .links-footer__div-full li {
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer .links-footer__div-full li:last-child {
        margin-right: 0px;
    }
    .footer .links-footer__div-full li:first-child {
        margin-left: 0px;
    }
}
