.girls {
  &__item {
    @apply block relative overflow-hidden bg-cover bg-center mb-5;
    border-radius: 10px;

    .badge {
      width: 57px;
      text-align: center;
      padding: 0;
      line-height: 26px;
      height: 26px;
    }

    @screen sm {
      max-width: 210px;
    }

    @screen md {
      max-width: 229px;
    }

    @screen lg {
      max-width: 306px;
    }

    @screen xl {
      max-width: 332px;

      .show-on-hover {
        @apply transition;
        height: 0;
        opacity: 0;
      }

      .hide-on-hover {
        @apply transition;
        height: 40px;
        opacity: 1;
      }

      &:hover {
        .show-on-hover {
          height: 40px;
          opacity: 1;
        }

        .hide-on-hover {
          height: 0;
          opacity: 0;
        }
      }
    }
  }
}
