http://demo.local {
    proxy / nextjs:3000
}

http://skidplay.tk, http://www.skidplay.tk, https://www.skidplay.tk {
    redir https://skidplay.tk{uri}
}

http://demo.local:8080 {
    tls off
    root /app/public
    gzip
    fastcgi / app:9000 php
    rewrite {
        to {path} {path}/ /index.php?{query}
    }

    header /media {
        Cache-Control "public, max-age=31536000"
    }

    header /storage {
        Cache-Control "public, max-age=31536000"
    }
}

http://front:8080 {
    tls off
    root /app/public
    gzip
    fastcgi / app:9000 php
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}

http://front.com:8080 {
    tls off
    root /app/public
    gzip
    fastcgi / app:9000 php
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}