http://demo.local {
    proxy / nextjs:3000
}

http://www.demo.local {
    redir http://demo.local{uri} permanent
}

http://demo.local:8080 {
    tls off
    root /app/public
    gzip
    fastcgi / app:9000 php
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}

http://front:8080 {
    tls off
    root /app/public
    gzip
    fastcgi / app:9000 php
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}

http://front.com:8080 {
    tls off
    root /app/public
    gzip
    fastcgi / app:9000 php
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}