.form-radio {
  input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    clippath: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  input[type="radio"]+div {
    @apply relative flex items-center text-black cursor-pointer text-sm;
    transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  }

  input[type="radio"]+div>span {
    @apply flex justify-center items-center bg-transparent border-2 border-black rounded cursor-pointer;
    width: 30px;
    height: 30px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
    margin-right: 7px;
    border-radius: 50%;
    @screen hd {
      width: 25px;
      height: 25px;
    }
  }

  input[type="radio"].white+div>span {
    @apply flex justify-center items-center rounded cursor-pointer;
    background-color: #fff;
    border: none;
  }

  input[type="radio"].black-border+div>span {
    border-color: #000;
  }

  input[type="radio"]+div:hover,
  input[type="radio"]:focus+label {
    color: #555;
  }

  input[type="radio"].white+div:hover,
  input[type="radio"].white:focus+label {
    color: #fff;
  }

  input[type="radio"]+div:hover>span,
  input[type="radio"]:focus+div>span {
    background: rgba(255, 255, 255, 0.1);
  }

  input[type="radio"].white+div:hover>span,
  input[type="radio"].white:focus+div>span {
    background-color: #fff;
  }

  input[type="radio"]:checked+div>span {
    @apply border-red flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
    @screen hd {
      border-radius: 99%;
    }
  }

  input[type="radio"]:checked+div>span:before {
    content: "";
    //position: absolute;
    //top: 8px;
    //left: 8px;
    border-radius: 50%;
    background-color: #FF3366;
    //width: 14px;
    //height: 14px;
    animation: radio-check 125ms 200ms cubic-bezier(.17,.67,.83,.67) forwards;
    box-sizing: content-box;
    @screen hd {
      border-radius: 99%;
    }
  }

  @keyframes shrink-bounce {
    0% {
      transform: scale(1);
    }

    33% {
      transform: scale(0.85);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes radio-check {
    0% {
      width: 0;
      height: 0;
      //transform: scale(0);
    }

    12% {
      width: 2px;
      height: 2px;
      //transform: scale(.5);
    }

    33% {
      width: 5px;
      height: 5px;
      //transform: scale(.5);
    }

    45% {
      width: 7px;
      height: 7px;
      //transform: scale(.5);
    }

    66% {
      width: 9px;
      height: 9px;
      //transform: scale(.5);
    }

    82% {
      width: 12px;
      height: 12px;
      //transform: scale(.5);
    }

    100% {
      width: 14px;
      height: 14px;
      //transform: scale(1);
    }
  }
}
