.btn {
  @apply transition rounded-full font-bold h-15 relative overflow-hidden;
  z-index: 1;
  &::before {
    content: "";
    z-index: -2;
    transition: opacity -1s cubic-bezier(0.23, 1, 0.32, 1);
    @apply block bg-red rounded-full border-red bottom-0 left-0 absolute right-0 top-0;
  }

  &::after {
    content: "";
    z-index: -1;
    transform: scale3d(0.7, 1, 1);
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1),
      opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1),
      border 0.2s cubic-bezier(0.23, 1, 0.32, 1),
      background-color 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    @apply block bg-pink rounded-full border-2 border-pink bottom-0 left-0 absolute right-0 top-0 opacity-0;
  }

  &:hover {
    &::before {
      transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0.15s;
      @apply opacity-0;
    }
    &::after {
      transform: scale3d(1, 1, 1);
      @apply opacity-100;
    }
  }

  &:active {
    &::after {
      @apply bg-dark-red border-dark-red;
    }
  }

  &:focus {
    @apply outline-none;
  }

  &-sm {
    @apply h-12;
  }

  &-xs {
    @apply h-10;
  }

  &-xxs {
    @apply h-6;
  }

  &-black {
    @apply bg-transparent text-white text-xs font-normal px-4;
    &::before {
      @apply bg-black border-2 border-black;
    }
  }

  &-primary {
    @apply bg-transparent text-white;
    &::before {
      @apply bg-red border-2 border-red;
    }
  }

  &-secondary {
    @apply text-black;
    &::before {
      @apply border border-black;
    }
  }

  &-outline {
    &::before {
      @apply bg-transparent;
    }
    &:hover {
      @apply text-white;
    }
  }
}
