.badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.badge-error {
    background-color: #b94a48;
}
.badge-warning {
    background-color: #f89406;
}
.badge-success {
    background-color: #468847;
}
.badge-info {
    background-color: #3a87ad;
}
.badge-inverse {
    background-color: #333333;
}
.relative > h1{
    display: inline-block;
    background-color: #a9d2fe;
    border-radius: 7px;
    padding: 2px 3px;
}
