.employee-search {
  background: url(/static/img/girls-bg.webp);
  background-size: 100% 100%;


  @media (max-width: 480px) {
    background: url(/static/img/girls-bg-sm.webp);
    background-size: 100% 100%;
  }
}

.events-search {
  background: url(/static/img/bg-events.webp);
  background-size: 100% 100%;
}

.clubs-search {
  background: url(/static/img/bg-clubs.webp);
  background-size: 100% 100%;
}

